.app-item-list {
  list-style-type: none;
  display: flex;
  margin-left: 6px;
  margin-right: 6px;
}

.app-item-button {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  padding: 7px;
}

.colored-text {
  color: #fec653;
  border-bottom: 3px solid #fec653;
}
